<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='https://cdn.plot.ly/plotly-2.16.1.min.js'></script>

    <style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    tr:nth-child(even){background-color: #f2f2f2}
    tr:hover {background-color: coral;}
    th,
    td {
        padding: 10px;
    }
    th {
  background-color: #04AA6D;
  color: white;
}
    </style>
    <!--<script src="forex_chartjs/templates/js/demo.js"></script>-->

</head>
<body>
<form>

    <div class="form-item">

        <p class="form-heading">
            Select Currency
        </p>
        <!--        <select name="currency" id="currency" onchange="onSeriesChange(this)">-->
        <select name="currency" id="currency">
            <option value="default">-- SELECT --</option>
            {% for i in Get_currency%}
            <!--                    <option value="{{i.currency_name}}"> {{i.currency_name}}</option>-->
            <option value="{{i.currency_name}}"> {{i.currency_name}}</option>
            {% endfor %}
        </select>
        <!--                <input type="button" value="Get Currencies" onclick="get_currencies()"/>-->
    </div>

    <div class="form-item">
        <p class="form-heading">
            Select Time Interval
        </p>
        <select name="interval" id="Get_interval">
            <option value="default">-- SELECT --</option>
            {% for i in Get_interval %}
            <!--                    <option value="{{i.currency_name}}"> {{i.currency_name}}</option>-->
            <option value="{{i.minutes}}"> {{i.minutes}}</option>
            {% endfor %}
        </select>
        <!--                <input type="button" value="Get Currencies" onclick="get_currencies()"/>-->
    </div>
</form>

<div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
<div>
    <script>
			var data = [
	{
		domain: { x: [0, 0.5], y: [0.5, 1] },
		value: {{ Sell }},
		title: { text: "Sell" },
		type: "indicator",
		mode: "gauge+number"
	}
];

var layout = { width: 500, height: 500, margin: { t: 0, b: 0 } };
console.log(layout);
Plotly.newPlot('myDiv', data, layout);
if ({{currency}}= '') {
  //  block of code to be executed if the condition is true
} else {
    console.log("inside");
  //  block of code to be executed if the condition is false
  setTimeout(function(){
  },1000)

    </script>
</div>

<table id="results">
    <table style="width:100%">
    <thead>
    <tr>
        <th>Currency</th>
        <th>Time Interval</th>
        <th>High</th>
        <th>High Prediction</th>
        <th>Date Time Hit High</th>
        <th>Low</th>
        <th>Low Prediction</th>
        <th>Date Time Hit Low</th>
    </tr>
    </thead>
    <tbody>
    {% for i in high_low %}
    <tr>
        {% for j in i %}
        <td>{{j}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>


    <div id='myDiv1'><!-- Plotly chart will be drawn inside this DIV --></div>
	<div>
		<script>
				var data = [
	{
		domain: { x: [0, 0.5], y: [0.5, 1] },
		value: {{ Buy }},
		title: { text: "SELL" },
		type: "indicator",
		mode: "gauge+number"
	}
];
var layout = { width: 400, height: 300, margin: { t: 0, b: 1 } };
Plotly.newPlot('myDiv', data, layout);
if ({{currency}}= '') {
  //  block of code to be executed if the condition is true
} else {
    console.log("inside");
  //  block of code to be executed if the condition is false
  setTimeout(function(){
  },1000)

}
			</script>
	</div>


<script>
let queryParams = new URLSearchParams(window.location.search);
let currency_ = queryParams.get("currency"); // return john
let interval = queryParams.get("interval"); // return sales
console.log("Params" + currency_ );
console.log("Params Interval" + interval );

if (currency_ == null){
const dd = document.getElementById ('currency');
dd.selectedIndex = [...dd.options].findIndex (option => option.text === "-- SELECT --");
}
else{
const dd = document.getElementById ('currency');
dd.selectedIndex = [...dd.options].findIndex (option => option.text === currency_);
}

var PAGE_URL = "http://127.0.0.1:8000/"
console.log("This is started");
var $selectSeries = $('#currency');
   console.log($selectSeries);
  $selectEpisode = $('#Get_interval');
  $episodeOptions = $selectEpisode.find('option');
<!--  $tbody = $('#results tbody');-->
<!--  $rows = $tbody.find('tr');-->

var params;

setTimeout(function(){
  var selectedSeries = $selectSeries.val() || '';
  console.log(selectedSeries);
  params = "?currency="+selectedSeries;
  location = PAGE_URL+params;

  },10000)

function onSeriesChange() {

console.log("This is Seires change currency");
  var selectedSeries = $selectSeries.val() || '';
  console.log(selectedSeries);
  params = "?currency="+selectedSeries;

  console.log(params);
  window.location.replace(PAGE_URL+params);
<!--    $filteredOptions = $episodeOptions.prop('selected', false).detach();-->


<!--  $filteredOptions = $filteredOptions.filter('[data-series="' + selectedSeries + '"]');-->
<!--  $selectEpisode.append($filteredOptions).prop('disabled', $filteredOptions.length == 0);-->

<!--  if ($filteredOptions.length) {-->
<!--    $filteredOptions.first().prop('selected', true);-->
<!--  } else {-->
<!--    $selectEpisode.append($episodeOptions.filter('.placeholder')).prop('disabled', true);-->
<!--  }-->

<!--  filterTable();-->
}

function onEpisodeChange() {
<!--  filterTable();-->
}

<!--function filterTable() {-->
<!--  var $filteredRows = $rows.detach(),-->
<!--    selectedSeries = $selectSeries.val() || '',-->
<!--    selectedEpisode = $selectEpisode.val() || '';-->

<!--  if (selectedSeries != '') {-->
<!--    $filteredRows = $filteredRows.filter('[data-series="' + selectedSeries + '"]');-->
<!--    $filteredRows = $filteredRows.filter('[data-episode="' + selectedEpisode + '"]');-->
<!--  }-->

<!--  $tbody.append($filteredRows);-->
<!--}-->

<!--filterTable();-->
$selectSeries.on('change', onSeriesChange);
$selectEpisode.on('change', onEpisodeChange);

</script>
</body>
</html>